In [1]:
nombres = input(print('Dime nombres de 3 amigos:'))
nombres = nombres.split()
nombres

Dime nombres de 3 amigos:

['Irene,', 'Ana,', 'Clara']

In [2]:
lista_alturas = input(print('Dime cuanto miden tus amigos;'))
lista_alturas = lista_alturas.split(',')
lista_alturas

lista_alturas = [float(i) for i in lista_alturas]
lista_alturas

Dime cuanto miden tus amigos;

[1.7, 1.58, 1.72]

In [ ]:
nombres.sort(reverse=True)
lista_alturas.sort(reverse=True)
print ("Nombres ordenados:",nombres)
print ("Alturas ordenados:",lista_alturas)

print ("La altura maxima es:", max(lista_alturas))
print ("La altura minima es:", min(lista_alturas))

In [4]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [7]:
lista_lista = [lista1, lista2]
print(lista_lista)

[[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [8]:
lista_numeros = lista1 + lista2
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [ ]:
print(lista_lista.count(67))
print(lista_numeros.count(67))

#En la lista_lista solo hay dos elementos, lista1 y lista2, mientras que en lista_numeros los elementos son los números, 
#donde sí aparece 67

In [15]:
lista_numeros.reverse()
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]